<% if @bookmarks.empty? %>
  <div class="no-search-result">
    <div class="box-center">
      <p class="oups">Oops.</p>
      <p class="no-result-text">You have no bookmarks!</p>
      <%# <%= image_tag "explosion3.png", class: "no-result-img" %> %>
    </div>
  </div>

  <%= image_tag Event.first.image_url%>
