  <div class="renbo-container">
    <div class="bookmark-content">
      <% if @bookmarks.empty? %>
    <%# what is returned if there no results %>
      <div class="index-error">
        <%= image_tag "search/rainbow.gif" %>
      </div>
    <%# If their search has results.... %>
      <% else %>
        <h3 class="home-heading">Bookmarks</h3>
        <div class="event-card-grid">
          <% @bookmarks.each do |bookmark| %>
            <%= render "shared/card", bookmark: bookmark, event: bookmark.event %>
          <% end %>
        </div>
      <%end%>
    </div>
  </div>
