.tickets-show-heading {
  border-bottom: solid 3px;
  padding-bottom: 3px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.ticket-banner-image {
  height: 500px;
  width: 500px;
  border-radius: $border-radius;
  object-fit: cover;
  position: center;
  min-width: 500px;
}

.ticket-info {
  display: flex;
}

.ticket-show-container {
  width: 800px;
}

.ticket-checkout-card {
  height: 100%;
  padding: 20px;
  margin-top: 126px;
  margin-left: 40px;
  border: $border;
  border-radius: $border-radius;
  position: sticky;
  top: 20px;
}

.ticket-checkout-dropdown {
  margin-bottom: 15px;
}

.ticket-checkout-summary {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 10px 0;
}

.ticket-price-summary {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
