.NFT-infographic {
    width: 50%;
    margin: 50px;
}
.spacey-p {
    margin: 40px;
}

.nftlink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 31px;
    color: $indigo;
}

.about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 41px;
}

.about-logo {
width:8%;
}

.aboutimgs {
    width: 50%;
}