.NFT-infographic {
    width: 50%;
    margin: 50px;
}
.spacey-p {
    margin: 40px;
}

.nftlink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 31px;
    color: $indigo;
}

