// Specific CSS for your home-page
.genres {
  display: flex;
  justify-content: space-between;
}
.genre-img {
  height: 130px;
  width: 150px;
  margin-bottom: 20px;
}

.home-heading {
  display: inline-block;
  border-bottom: solid 3px;
  padding-bottom: 3px;
  margin-bottom: 40px;
  margin-top: 120px;
  
}

.home-body {
  width: 600px;
  text-align: center;
  width: 100%;
}
