// Specific CSS for your home-page
.genres {
  display: flex;
  justify-content: space-between;
}
.genre-img {
  height: 130px;
  width: 150px;
  margin-bottom: 20px;
}
.grow {
  transition: all .2s ease-in-out;
  filter: brightness(0);

  }

  .grow:hover {
  transform: scale(1.1);
  outline-width: 1rem;
  filter: brightness(1)
  }

  .grow h4 {
    color: $indigo;
  }



.home-heading {
  display: inline-block;
  border-bottom: solid 3px;
  padding-bottom: 3px;
  margin-bottom: 40px;
  margin-top: 20px;

}

.home-body {
  text-align: center;
  width: 100%;
}
