// Specific CSS for your home-page
.genres {
  display: flex;
  justify-content: space-between;
}
.genre-img {
  height: 130px;
  width: 150px;
  margin-bottom: 20px;
}
.grow {
  transition: all .2s ease-in-out;
  filter: brightness(0);

  }

  .grow:hover {
  transform: scale(1.1);
  outline-width: 1rem;
  filter: brightness(1)
  }

  .grow h4 {
    color: $indigo;
  }

.home-heading {
  display: inline-block;
  padding-bottom: 3px;
  margin-bottom: 40px;
  margin-top: 40px;
  align-self: center;
}

.home-section {
  margin-top: 40px;
  display: flex;
  height: 400px;
  width: 100%;

  .home-element {
    text-align: right;
    align-self: center;
    margin: 10px 0;
    width: 50%;
  }

  .home-element-60 {
    margin-right: 20px;
    width: 60%;
  }

  .home-element-40 {
    width: 40%;
    text-align: left;
    align-self: center;
    margin: 10px 0;
  }

  .home-element-heading {
    margin-bottom: 0px;
  }

  h4 {
    line-height: 30px;
    align-self: center;
    font-family: $body-font;
    text-transform: none;
  }
}

.home-carousel {
  position: relative;
}


// <%= render "shared/searchbar", parent: "searchbar-banner", hidden: "" %>
