<div class="renbo-container">
  <div class="carousel2">
    <div class="container2 margin-collection">
      <% i = 1 %>
    <% @tokens.last(3).each do |token|%>
        <input type="radio" name="slider" id="item-<%= i %>" checked>
        <% i += 1 %>
      <% end %>
      <div class="cards3">
      <% i = 1 %>
        <% @tokens.last(3).each do |token|%>
          <label class="card2" for="item-<%= i %>" id="song-<%= i %>">
            <%=image_tag token.ticket.image_url, alt: "song", class: "caro-image"%>
          </label>
          <% i += 1 %>
        <%end%>
      </div>
    </div>
  </div>
</div>
