<div class="event-card">
  <div class="event-location-tag">
    <p class="event-location-tag-text"><i class="fas fa-location-arrow location-icon"></i> Location</p>
  </div>
  <%= image_tag "card/festival.jpg", class: "event-card-img" %>
  <div class="event-card-content">
    <h4>Event title</h4>
    <div style="color: #7B7B7B">
      <p>Date range</p>
      <div>
        <div class="d-flex justify-content-center">
          <div class="d-flex align-items-center">
            <%= image_tag "card/ticket.png", class: "ticket-icon" %>
            <p>100</p>
          </div>
        </div>
      </div>
      <i class="far fa-heart heart-icon"></i>
    </div>
  </div>
</div>
