<footer>

  <div class="footer-hr"></div>

  <div class="footer-content">
    <div class="footer-cta">
      <div class="newsletter">
        <h4><strong>Stay tuned</strong></h4>
        </br>
        <form action="">
          <input type="search" id="newsletter" name="mail" placeholder="Add you email and join our newsletter ..." value="">
          <button type="submit" class="renbo-btn">Sign up</i></button>
        </form>
      </div>
      <div class="socials">
        <h4><strong>Join us there</strong></h4>
        <a href="www.facebook.com"><i class="fab fa-facebook-f"></a></i>
        <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>

    <div class="footer-nav">
      <div class="footer-nav-col">
        <h5><strong>Events</strong></h5>
        </br>
        <a href="https://www.renbo.io/events?q=electronic"><p>Electronic</p></a>
        <a href="https://www.renbo.io/events?q=hip-hop"><p>Hip-hop</p></a>
        <a href="https://www.renbo.io/events?q=rock"><p>Rock</p></a>
        <a href="https://www.renbo.io/events?q=classical"><p>Classical</p></a>
        <a href="https://www.renbo.io/events?q=jazz"><p>Jazz</p></a>
        <a href="https://www.renbo.io/events?q=jazz"><p>Pop</p></a>
      </div>
      <div class="footer-nav-col">
        <h5><strong>Marketplace</strong></h5>
        </br>
        <a href="https://www.renbo.io/events?q=festival"><p>Browse</p></a>
        <a href=""><p>Best Deals</p></a>
        <a href=""><p>Last Minute</p></a>
      </div>
      <div class="footer-nav-col">
        <h5><strong>Account</strong></h5>
        </br>
        <a href=""><p>Profile</p></a>
        <a href=""><p>Wallet</p></a>
        <a href=""><p>Bookmarks</p></a>
        <a href=""><p>Recent Transactions</p></a>
      </div>
      <div class="footer-nav-col">
        <h5><strong>Renbo</strong></h5>
        </br>
        <a href=""><p>About Us</p></a>
        <a href=""><p>Careers</p></a>
        <a href=""><p>Invest</p></a>
      </div>
    </div>
  </div>

  <div class="footer-hr"></div>

  <p id="copyright">@Renbo 2022</p>

</footer>
