  <div class="genre grow">
    <%= link_to "https://www.renbo.io/events?q=#{genre}" do %>
      <%= image_tag "genres/#{genre}.png", class:"genre-img" %>
      <h4><%= genre %></h4>
    <% end %>
  </div>
