
<div class="renbo-container">
<div class="carousel2">

<div class="container2">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
  <div class="cards3">
    <label class="card2" for="item-1" id="song-1">
    
      <%= image_tag "search/3.png", class:"caro-image" %>
    </label>
    <label class="card2" for="item-2" id="song-2">
     
      <%= image_tag "search/4.png", class:"caro-image" %>
    </label>
    <label class="card2" for="item-3" id="song-3">
      <%= image_tag "search/coachellaa.png", class:"caro-image" %>
    </label>

  </div>

</div>
</div>
</div>
