<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to "/", class: "navbar-brand" do %>
      <h4 class="renbo">Renbo</h4>
    <% end %>

    <%= render "shared/searchbar", parent: "searchbar-nav" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="nav-end">
      <button class="renbo-btn">Marketplace</button>

      <button><i class="fas fa-shopping-cart"></i></button>

      <div class="dropdown">
        <button class="dropbtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bars"></i></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <%# INSERT SEATING LOGIC HERE %>
          <li><a class="dropdown-item" href="#">Collection</a></li>
          <li><a class="dropdown-item" href="#">Sign in</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
