<div class="ticket-card">
  <% if vip %>
    <div class="renbo-label vip-label"><strong>VIP</strong></div>
  <% end %>
  <div class="ticket-card-image">
    <a href="#">
      <img height="95%" width="95%" src="<%= ticket.image_url%>" alt="">
    </a>
  </div>
  <div class="ticket-content">
    <h5><%= ticket.title.first(18) %></h5>
    <p><%= ticket.description.first(50) + " ..."  %></p>
  </div>
  <div class="ticket-price-tag">
    <p><strong>Starts from $<%= ticket.original_price %></strong></p>
  </div>
</div>
