<div class="dropdown">
  <button class="ticket-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Select your seat....
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <%# INSERT SEATING LOGIC HERE %>
    <li><a class="dropdown-item" href="#">INSERT </a></li>
    <li><a class="dropdown-item" href="#">LOGIC</a></li>
    <li><a class="dropdown-item" href="#">PLZ</a></li>
  </ul>
</div>
