<div class="ticket-card">
  <% if vip %>
    <div class="renbo-label vip-label"><strong>VIP</strong></div>
  <% end %>
  <div class="ticket-card-image">
    <a href="#">
      <img height="95%" width="95%" src="https://indotelko.com/images/media/202204/ori/coachella.jpg" alt="">
    </a>
  </div>
  <div class="ticket-content">
    <h5>Beyonce VIP Ticket #1</h5>
    <p>Description Description Description Description</p>
  </div>
  <div class="ticket-price-tag">
    <p><strong>Starts from $125.00</strong></p>
  </div>
</div>
