
<div class="renbo-container">
</br>
    <h1 class="about-title"> About Renbo </h1>  
    <%# Who is Renbo? What is our mission %>
     <div class="div-line">
    
    </div>
    
    <p> Renbo is a team of passionate developers who strives to make ticketing fair and fun for everyone across the world and incentivize community building in the process..We aim to provide a safer ticketing experience for both ticket buyers and ticket sellers by utilizing non-fungible tokens on the Ethereum Blockchain. </p>
   
<%#  %>
    <p> But not only that, we want to provide unique collectable NFT art peices and unique experiences alongside each ticket so you can cherish your memories forever.. If you're unfamiliar with NFTs you're probably wondering <strong> what the heck is a non-fungible token..</strong> We totally understand NFTs can be confusing, and there's often a negative connotation around NFTs due to people misunderstanding the underlying technology, let us try and help explain why NFT technology is valuable. </p> 
    
    <div class="div-line">
    
    </div>
    
    <%# what are NFTs %>
    <div>
        <h2> Let's start from the top...what are NFTs? </h2>
      
        <p class="spacey-p"> Non-Fungible-Tokens or NFT's are essentially just tokens just like any other tokens. However, these tokens are unique and are “Non-Fungible”. Non-Fungible meaning they cannot be duplicated, replicated or replaced. While most of the Crypto currencies are 'Fungible', for example Bitcoin, as they can be duplicated and replaced. Non-fungibility and the access to the record left on the blockchain is a huge benefit for preventing fraud and malicious intent. It's better for ticket buyers and ticket sellers across the board, plus you can get some cool resellable art as an added bonus! </p>
    </div>
<%#  %>

    <%# what are NFT tickets? %>
    <div>
        <h2> NFT tickets and why are they vital for the future of ticketing </h2>
        
        <P class="spacey-p"> As time goes on, digital assets are becoming more and more valuable. Your NFT ticket will not only be your access to the event with exclusive perks, but your NFT ticket can be sold so you can generate revenue streams for yourself and the NFT community. Not only will you attend the even in-person, but you'll also get a virtual experience including an NFT ticket that you can save or exchange. Here are a few direct examples of why NFT tickets are better. </p>
        <ul> 
            <li> <p> <strong>Preventing fake tickets and scams:</strong> Both ticket holders and organizers have access to a single version of information via  blockchain. As a result, all parties can verify an NFT's authenticity after transferring from initial sale to resale. If you want to prohibit resale, it's possible to make NFTs non-transferable so they can't be sold to another person. This removes the blackmarket of ticket scalping that has been a massive issue for event goers and event holders. </p> </li>
            <li> <p><strong>Resellability: </strong> With access to an NFT markeetplace like Renbo, you can resell your ticket at anytime before the event, or sell your NFTs after the event is over.</p> </li>
            <li> <p><strong>Cost reduction: </strong> Compared to traditional ticketing, NFTs have negligible costs. A non-forgeable ticket allows customers and organizers to verify the authenticity and track ownership histories for less production cost. An NFT can be created and made ready for sale in under a minute.</p> </li>
            <li> <p><strong>Incentives - collectible art and event access: </strong> Beyond attending the event, you'll recieve unique art from your favorite artists which you can collect or sell, whichever you prefer. You'll also have the option to buy different tickets with various levels of rarity which will provide you with more unique art or special priviliges at events.  </p> </li>
        </ul>
     
    </div>
<%#  %>
    <%# How does NFT ticketing Work? %>
    <div>
        <h2> How does NFT ticketing work? </h2>
        <p class="spacey-p"> When you book an NFT-based ticket, a smart contract is triggered in response to a payment and and you then recieve the NFT. The NFT is sent to your preffered wallet and you can then access them at any time from your mobile device or desktop. And best of all it's easier, safer and faster than the old ticketing methods. Hopefully that clears things up, but if not please see the links below for further reading. </p>
    </div>
<%= link_to 'Learn More about NFTs', "https://101blockchains.com/nft-skill-path/", class: "nftlink"%> 
<%= link_to 'Learn about NFT Wallets', "https://metamask.io/", class: "nftlink"%> 
</div>
