<div class="banner">
  <%= image_tag "banner-logo.png", class:"banner-img" %>
  <%= render "shared/searchbar", parent: "searchbar-banner" %>
</div>
<div class="renbo-container text-center">
  <h2 class="home-heading">HOT EVENTS</h2>
  <p>Et eveniet corrupti dolorem nemo eligendi. Dolor quibusdam illo voluptas recusandae fugiat consequatur qui ducimus.</p>
  <h2 class="home-heading">BROWSE GENRES</h2>
  <p>Et eveniet corrupti dolorem nemo eligendi. Dolor quibusdam illo voluptas recusandae fugiat consequatur qui ducimus.</p>
  <h2 class="home-heading">A TICKET TO REMEMBER</h2>
  <p>Et eveniet corrupti dolorem nemo eligendi. Dolor quibusdam illo voluptas recusandae fugiat consequatur qui ducimus.</p>
  <h2 class="home-heading">CHANGE OF PLANS?</h2>
  <P>Et eveniet corrupti dolorem nemo eligendi. Dolor quibusdam illo voluptas recusandae fugiat consequatur qui ducimus.</P>
</div>
