<div class="renbo-container">

<h1> Checkout </h1>

<h3 class="cart-title"> My cart </h3>

<div class="ticket-table">
  <div class="table-title table-top">
    <h5>Tickets Selling</h5>
  </div>
  <div class="table-header table-top">
    <p class="table-header-empty"></p>
    <p class="table-col"><strong>Ticket Details</strong></p>
    <p class="table-col"><strong>Status</strong></p>
    <p class="table-col"><strong>Location </strong></p>
    <p class="table-col"><strong>Date</strong></p>
    <p class="table-col"><strong>Price</strong></p>
    <p class="table-col"></p>
  </div>
  <div class="table-tickets">
    <div class="table-row">
      <div class="table-image">
        <img width="95%" height="95%" src="https://indotelko.com/images/media/202204/ori/coachella.jpg" alt="">
      </div>
      <p class="table-col">Beyoncé VIP #1</p>
      <p class="table-col">Used</p>
      <p class="table-col">1d:12h:25m:10s</p>
      <p class="table-col"><strong>$110.94</strong></p>
      <div class="table-col">
        <button class="renbo-btn">Add to cart</button>
      </div>
    </div>
    <div class="table-row">
      <div class="table-image">
        <img width="95%" height="95%" src="https://indotelko.com/images/media/202204/ori/coachella.jpg" alt="">
      </div>
      <p class="table-col">Beyoncé VIP #1</p>
      <p class="table-col">Used</p>
      <p class="table-col">1d:12h:25m:10s</p>
      <p class="table-col"><strong>$110.94</strong></p>
      <div class="table-col">
        <button class="renbo-btn">Add to cart</button>
      </div>
    </div>
    <div class="table-row">
      <div class="table-image">
        <img width="95%" height="95%" src="https://indotelko.com/images/media/202204/ori/coachella.jpg" alt="">
      </div>
      <p class="table-col">Beyoncé VIP #1</p>
      <p class="table-col">Used</p>
      <p class="table-col">1d:12h:25m:10s</p>
      <p class="table-col"><strong>$110.94</strong></p>
      <div class="table-col">
        <button class="renbo-btn">Add to cart</button>
      </div>
    </div>
    <div class="table-row">
      <div class="table-image">
        <img width="95%" height="95%" src="https://indotelko.com/images/media/202204/ori/coachella.jpg" alt="">
      </div>
      <p class="table-col">Beyoncé VIP #1</p>
      <p class="table-col">Used</p>
      <p class="table-col">1d:12h:25m:10s</p>
      <p class="table-col"><strong>$110.94</strong></p>
      <div class="table-col">
        <button class="renbo-btn">Add to cart</button>
      </div>
    </div>
    <div class="table-row">
      <div class="table-image">
        <img width="95%" height="95%" src="https://indotelko.com/images/media/202204/ori/coachella.jpg" alt="">
      </div>
      <p class="table-col">Beyoncé VIP #1</p>
      <p class="table-col">Used</p>
      <p class="table-col">1d:12h:25m:10s</p>
      <p class="table-col"><strong>$110.94</strong></p>
      <div class="table-col">
        <button class="renbo-btn">Add to cart</button>
      </div>
    </div>
    <div class="table-row">
      <div class="table-image">
        <img width="95%" height="95%" src="https://indotelko.com/images/media/202204/ori/coachella.jpg" alt="">
      </div>
      <p class="table-col">Beyoncé VIP #1</p>
      <p class="table-col">Used</p>
      <p class="table-col">1d:12h:25m:10s</p>
      <p class="table-col"><strong>$110.94</strong></p>
      <div class="table-col">
        <button class="renbo-btn">Add to cart</button>
      </div>
    </div>
    <div class="table-row">
      <div class="table-image">
        <img width="95%" height="95%" src="https://indotelko.com/images/media/202204/ori/coachella.jpg" alt="">
      </div>
      <p class="table-col">Beyoncé VIP #1</p>
      <p class="table-col">Used</p>
      <p class="table-col">1d:12h:25m:10s</p>
      <p class="table-col"><strong>$110.94</strong></p>
      <div class="table-col">
        <button class="renbo-btn">Add to cart</button>
      </div>
    </div>
    <div class="table-row">
      <div class="table-image">
        <img width="95%" height="95%" src="https://indotelko.com/images/media/202204/ori/coachella.jpg" alt="">
      </div>
      <p class="table-col">Beyoncé VIP #1</p>
      <p class="table-col">Used</p>
      <p class="table-col">1d:12h:25m:10s</p>
      <p class="table-col"><strong>$110.94</strong></p>
      <div class="table-col">
        <button class="renbo-btn">Add to cart</button>
      </div>
    </div>
  </div>
</div>


</div>