.renbo-btn {
  background-color: $indigo;
  color: $white;
  border-radius: $border-radius;
  width: 130px;
  height: 40px;

  &:hover {
    box-shadow: $button-shadow;
  }
}

.renbo-label {
  background-color: $yellow;
  padding: 0 15px;
  border-radius: $border-radius;
}

.search-filter {
display:flex;
justify-content: center;
align-items: center;
width: 130px;
height: 35px;
left: 654px;
top: 99px;
color: $indigo;
border-color: $indigo;
text-align: center;
border-radius: $border-radius;
border-top:solid;
border-left:solid;
border-right:solid;
border-bottom:solid;
left:888px;

  &:hover {
    box-shadow: $button-shadow;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}