.renbo-btn {
  background-color: $indigo;
  color: $white;
  border-radius: $border-radius;
  width: 130px;
  height: 40px;

  &:hover {
    box-shadow: $button-shadow;
  }
}

.renbo-label {
  background-color: $yellow;
  padding: 0 15px;
  border-radius: $border-radius;
}
