.renbo-btn {
  background-color: $indigo;
  color: $white;
  border-radius: $border-radius;
  width: 130px;
  height: 40px;

  &:hover {
    box-shadow: $button-shadow;
  }
}

.renbo-label {
  background-color: $yellow;
  padding: 0 15px;
  border-radius: $border-radius;
}

.search-filter {
width: 130px;
height: 45px;
color: $indigo;
border: solid $indigo;
border-radius: $border-radius;

  &:hover {
    box-shadow: $button-shadow;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  height: 0px;
}
