// NAVBAR GENERAL

.navbar-lewagon {
  // overflow: hidden;
  background: white;
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: space-between;
  box-shadow: #{$shadow};
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-end {
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    margin: #{$margin-h-small};
  }
}

.nav-cart {
  position: relative;
}

// SEARCHBAR

#searchbar-nav {
  padding: 10px;
  width: 40vw;
  border-radius: $border-radius;
  border: 1px solid rgba(0,0,0,0.3);

  display: flex;
  align-items: center;

  #query {
    flex-grow: 1;
  }

  #genre, #query {
    border: none;

    &:focus {
      outline: none;
    }
  }

  .mglass {
    margin: 0 5px;
  }
}

// HEHE
.renbo {
  color: $indigo;
  font-weight: bold;
  margin: 0;
}


// NAVBAR TRANSPARENT

// .navbar-transparent {
//   background: none;

//   #searchbar-nav {
//     visibility: hidden;
//   }

//   i {
//     color: white;
//   }
// }
