.ticket-table {
  border: $border;
  border-radius: $border-radius;
  height: 560px;
  width: 800px;
  box-shadow: $shadow;
  overflow: hidden;

  p {
    margin: 0;
  }

  .table-top {
    height: 60px;
  }

  .table-title {
    display: flex;
    align-items: center;
    border-bottom: $border;
    h5 {
      padding: 0 20px;
      margin: 0;
    }
  }

  .table-header {
    display: flex;
    align-items: center;
    background-color: $renbo-lilac;
    border-bottom: 1px solid $gray;
  }

  .table-row {
    height: 130px;
    display: flex;
    align-items: center;
    border-bottom: $border;

    &:hover {
      background-color: $light-gray;
    }

  }

  .table-tickets {
    height: 440px;
    overflow: scroll;
  }

  .table-col {
    width: 130px;
  }

  .table-col-price {
    width: 150px;
  }

  .table-header-empty {
    width: 130px;
  }

  .table-image {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
    }
  }

}

.table-bottom {
  height: 60px;
  border-top: 1px solid $gray;
  background-color: $renbo-lilac;

  display: flex;
  justify-content: center;
  align-items: center;
}

.total-price-text {
  text-align: right;
  padding-right: 20px;
}

// Large table 1140 px

.table-large {
  width: 1140px;
  height: 620px;
}

.table-col-lg {
  width: 174px;
}

.table-col-price-lg {
  width: 140px;
}
