.ticket-dropdown {
  height: 35px;
  min-width: 250px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid $grey;
  border-radius: $border-radius;
  justify-content: space-between;
  padding: 0 10px;
}

  .ticket-dropdown:focus {
    box-shadow: 0 0 0 0.1rem rgba(86, 40, 245, 0.25);
  }
