.ticket-card {
  width: 240px;
  height: 340px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: $border;
  border-radius: $border-radius;

  &:hover {
    border: $border-hover;
    box-shadow: $button-shadow;
    transform: scale(102%);
    z-index: 100;
  }

  .vip-label {
    position: absolute;
    top: -10px;
    right: -20px;
  }

  .ticket-card-image {
    width: 240px;
    height: 200px;
  }

  .ticket-content {
    text-align: left;
    padding: 0 10px;
    display: inline;

    h5 {
      white-space: nowrap;
    }
  }

  .ticket-price-tag {
    margin-top: 10px;
    height: fit-content;
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: right;
    padding: 0 10px;

    p {
      margin: 0;
    }
  }

}
