a {
  text-decoration: none;
  color:  black;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Cooper";
  text-transform: uppercase;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.home-heading {
  display: inline-block;
  border-bottom: solid 3px;
  padding-bottom: 3px;
  margin-bottom: 20px;
  margin-top: 40px;
}

i {
  font-size: 20px;
  &:hover {
    color: #{$indigo};
  }
}


h5 {
  font-size: 20px;
  color: #{$indigo};
}
